#intro_page_title {
    color: #8C1D40;
}

.card {
    width: 40%;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
}

.project-image {
    border-radius: 5px 5px 0 0;
    object-fit: cover; /* crops the object */
    height: 200px;
    width: 100%;
}

.project-info-container {
    padding: 2px 16px;
    font-size: 24px;
}

#back_button {
    position: fixed;
    top: 5;
    left: 5;
    height: 50px;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
}