.background {
    background-color: #282c34;
}

#intro_page_title {
    color: #40aaf2;
}

.page-title {
    font-size: 120px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* there is a fallback system here; 
        incase it can't find the first thing in the list, it will use the next */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cursor {
    color: #f8f8f0;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: lighter;
    vertical-align: text-top;
}

.center {
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

#profile_pic {
    display: block; /* images display inline by default */
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

.summary-content {
    color: #ffffff; /* white */
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#ASU {
    color: #efaec0;
    font-weight: bolder;
}

.toggle-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background: white; /* background-color is same as background */
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    font-family: sans-serif;
    font-style: italic;
}

.toggle-button:hover {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer; /* changes mouse cursor from normal arrow to hand w/ finger */
}

#projects_toggle {
    border: 4px solid #8c1d40;
}

#projects_toggle:hover { /* css for when element is hovered over */
    color: #8c1d40;
    border-color: black;
}

#experience_toggle {
    border: 4px solid #40aaf2;
}

#experience_toggle:hover {
    color: #40aaf2;
    border-color: black;
}

